.button {
  background: #9692e2;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #1a3950;
  padding: 1rem;
  text-align: center;
  font-size: medium;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #1a39503d;
  cursor: pointer;
}
.button:hover {
  background: #1a3950;
  color: #f9fcf9;
}
